.ourteam{
	font-size: 50px;
	text-align: center;
	margin-top: 220px;
}

.ourteamprops_div{
	width: 360px;
	text-align: center;
	font-size: 17px;
	color: rgb(100, 99, 99);
	display: inline-block;
	margin-left: 30px;
}

.ourteamprops_div img{
	border-radius: 50%;
	height: 160px;
}

.ourteamprops_div_name{
	font-size: 20px;
	font-weight: 500;
	line-height: 0px;
	padding-top: 30px;
	color: black;
}

.ourteamprops_div_work{
	font-size: 16px;
	color: rgb(181, 178, 178);
	margin-top: -5px;
}

.ourteam_div{
	margin-left: 80px;
}

.iconca_div i{
margin:7px;
font-size:25px
}

.iconca_div i:hover{
	color: black;
	cursor: pointer;
}

.hrr{
	margin-top: 90px;
}