.aboutus_div{
	width: 500px;
	display: inline-block;
}

.aboutus{
	font-size: 50px;
}
.aboutus_text{
	line-height: 30px;
	font-size: 18px;
	color: rgb(93, 92, 92);
	margin-top: -30px;
}

.aboutus_containerr_div{
	padding-left: 140px;
}

.ikonkali_div{
display: inline-block;
width: 250px;
color: rgb(93, 92, 92);
margin-top: 40px;
}

.ikonkali_div i{
	font-size: 40px;
}

.ikonkali_div a{
	color: rgb(35, 205, 205);
	text-decoration: none;
	font-size: 17px;
}

.nomi{
	font-size: 20px;
}

.nomi_text{
	margin-top: -15px;
	font-size: 18px;
}

.About_picture{
	background: url(/public/images/about_1.jpg.webp);
	height: 430px;
	width: 450px;
	display: inline-block;
	background-position: center;
	background-size: cover;
	margin-left: 150px;
	position: relative;
	top: -40px;
	border-radius: 7px;
}