*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}




body, h1, h2, h3, h4, h5, h6,p {
	font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif, Tahoma, sans-serif;
    font-weight: 50;
}

.clr{
    clear: both;
}

.container{
    width: 75% !important;
}


.nav-link{
    color: #000 !important;
}

.nav-link:hover{
    color: #32dbc6 !important;
}


a{
    text-decoration: none !important;
    color: #3F3F3F !important;
}

.fab{
    padding: 5px;
}

span{
    color: #32dbc6;
}

@media (max-width:360px) {
    
}