.nav1 {
    height: 40px;
    background-color: #343A40;
    color: #fff;
    display: flex;
    justify-content: center;
}

.nav1 p {
    display: inline;
}

.nav1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont {
    width: 100%;
    z-index: 100;
    position: fixed !important;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.02);
    font-size: 1.1rem;
    
}

.navbar {
    height: 70px;
    background-color: white;
}

.dropdown-item:hover{
    background-color:#32dbc6;
    color: #fff !important;
}