.footer_lets {
	background-color: rgb(35, 191, 191);
	color: white;
	text-align: center;
	height: 140px;
	font-size: 40px;
	cursor: pointer;
}

.footer_lets p {
	padding-top: 40px;
}

.footer_footer {
	background-color: #333;
	height: 500px;
	color: white;
	padding: 100px 0;
	font-size: 18px;
}
.footer_footer p{
	color: #807f7f;
}
.footer_footer p:hover{
	color: #fff;
	cursor: pointer;
}
.footer_footer i{
	color: #807f7f;
	padding: 10px;
}
.footer_footer i:hover{
    color: #fff;
	cursor: pointer;
}

.email_footer {
	height: 40px;
	background-color: #333;
	color: white;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.send {
	background-color: rgb(10, 208, 208);
	border:none;
	height: 42px;
	padding: 0px 18px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	color: white;
}

.send:hover {
	background-color: rgb(15, 167, 167);
}

.ortaga {
	text-align: center;
	font-size: 15px;
	color: #807f7f;
	margin-top: 50px;
}